<html>
    <body>
        <%- include('header') %>
        <form method="post" action="/processing">
            Name : <input type="text" name="txt1" />
            Gender : <input type="text" name="txt2" />
            <input type="submit"/>
        </form>
    </body>
</html>